.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.container .heading {
  font-size: 2.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 90px;
}

.container .user-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.container .hero {
  display: flex;
  width: 1200px;
  align-items: center;
  column-gap: 2rem;
}

.container .user-image {
  width: 150px;
  height: auto;
  border-radius: 9999px;
}

.container .name-email .name {
  font-size: 1.875rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.container .name-email .email {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

.container .edit-button button {
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 9px;
  border: 1px solid #128c7e;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
  margin-bottom: 0.5rem;
}

.container .edit-button button:hover {
  background-color: #128c7e;
}

.container .form-container {
  display: flex;
  margin-top: 4rem;
  width: 1200px;
  column-gap: 150px;
  justify-content: center;
}

.container .form-container .left-container,
.container .form-container .right-container {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.container .form-container .user-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.container .form-container .user-input label {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.25rem;
}

.container .form-container .user-input input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
}

.container .form-container .user-input input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #128c7e;
  font-family: 'Nunito', sans-serif;
}

.container .form-container .save-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.container .form-container .save-btn button {
  width: 250px;
  background-color: #128c7e;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
}

.container .form-container .save-btn button:hover {
  background-color: #128c7e;
}

.hero {
  background: linear-gradient(135deg, #77DD66, #D7F4D2);
}