.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.container .heading {
  font-size: 2.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 90px;
}

.container .customer-phone {
  display: flex;
  width: 1200px;
  margin-bottom: 2rem;
  column-gap: 1.25rem;
  align-items: center;
}

.container .label {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

.container .load-customer input {
  width: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
}

.container .load-customer input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #FFB800;
}

.container .customer-error {
  font-size: 1.25rem;
  color: #ef4444;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
}

.container .data-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.container .table-container {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  max-height: 700px;
  overflow-y: auto;
}

.container .reservation-table {
  width: 1200px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-collapse: collapse;
}

.container .table-row {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container .table-heading {
  position: sticky;
  top: 0;
}

.container .table-heading th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
  background-color: #e6e6e6;
}

.container .table-body {
  border-top-width: 1px;
  border-top-style: solid;
  font-weight: normal;
}

.table-container {
  background: linear-gradient(135deg, #77DD66, #D7F4D2);
}