.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.container .heading {
  font-size: 2.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 90px;
}

.container .form-container {
  display: flex;
  margin-top: 2.5rem;
  column-gap: 150px;
  justify-content: center;
}

.container .form-container .customer-form {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.container .form-container .label {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

.container .form-container .load-customer {
  display: flex;
  column-gap: 4rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.container .form-container .load-customer input {
  width: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
}

.container .form-container .load-customer input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #128c7e;
  font-family: 'Nunito', sans-serif;
}

.container .form-container .load-customer button {
  width: 250px;
  background-color: #128c7e;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
}

.container .form-container .load-customer button:hover {
  background-color: #128c7e;
}

.container .form-container .name {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .name .first-name {
  width: 250px;
}

.container .form-container .address {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.container .form-container .details {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.container .form-container .email-nic {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .email-nic .email {
  width: 250px;
}

.container .form-container .customer-error {
  font-size: 1.25rem;
  color: #ef4444;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.container .form-container .locations {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .locations .pick,
.container .form-container .locations .drop {
  width: 250px;
}

.container .form-container .locations .pick input,
.container .form-container .locations .drop input {
  width: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.container .form-container .locations .pick input:focus,
.container .form-container .locations .drop input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #128c7e;
}

.container .form-container .schedule-btn button {
  width: 250px;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  border: 1px solid #128c7e;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
  margin-bottom: 0.5rem;
}

.container .form-container .schedule-btn button:hover {
  background-color: #128c7e;
}

.container .form-container .schedule-details {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .schedule-details .date,
.container .form-container .schedule-details .time {
  width: 250px;
}

.container .form-container .schedule-details .date input,
.container .form-container .schedule-details .time input {
  width: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.container .form-container .schedule-details .date input:focus,
.container .form-container .schedule-details .time input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #128c7e;
}

.container .form-container .vehicle-form {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.container .form-container .vehicle-form .vehicle-type {
  display: flex;
  column-gap: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.container .form-container .vehicle-form .vehicle-btn {
  border: 2px solid;
  border-radius: 9px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.container .form-container .vehicle-form .vehicle-btn:hover {
  border: 2px solid #128c7e;
}

.container .form-container .vehicle-form .vehicle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .form-container .vehicle-form .vehicle-container img {
  width: 100px;
  height: auto;
}

.container .form-container .vehicle-form .passenger {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.container .form-container .vehicle-form .passenger img {
  width: 30px;
  height: 30px;
}

.container .form-container .vehicle-form .passenger p {
  font-family: 'Nunito', sans-serif;
}

.container .form-container .vehicle-form .vehicle-name {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
  margin-top: 0.5rem;
}

.container .form-container .vehicle-form .driver-details {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .vehicle-form .driver-details .driver-name,
.container .form-container .vehicle-form .driver-details .driver-phone {
  width: 250px;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.container .form-container .vehicle-form .vehicle-details {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .vehicle-form .vehicle-details .regNumber,
.container .form-container .vehicle-form .vehicle-details .brand {
  width: 250px;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.container .form-container .vehicle-form .vehicle-license {
  display: flex;
  column-gap: 4rem;
}

.container .form-container .vehicle-form .vehicle-license .license-exp-date,
.container .form-container .vehicle-form .vehicle-license .insurance-exp-date {
  width: 250px;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.container .form-container .vehicle-form .proceed-btn button {
  width: 250px;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
  background: linear-gradient(135deg, #77DD66, #D7F4D2);
}

.container .form-container .vehicle-form .proceed-btn button:hover {
  background: linear-gradient(135deg, #77DD66, #B8EAB0);
}

.container .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .popup-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 400px;
  text-align: center;
}

.container .popup-container h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container .popup-container p {
  margin-bottom: 1rem;
}

.container .popup-container button {
  width: 250px;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 300ms;
  background: linear-gradient(135deg, #77DD66, #D7F4D2);
}

.container .popup-container button:hover {
  background: linear-gradient(135deg, #77DD66, #B8EAB0);
}