.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
}

.container .heading {
  font-size: 2.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 90px;
}

.container .heading p {
  font-weight: 600;
  color: #4b5563;
}

.container .user-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 100%;
}

.container form .form-container {
  display: flex;
  margin-top: 2.5rem;
  width: 1200px;
  column-gap: 150px;
  justify-content: center;
}

.container form .form-container .left-container,
.container form .form-container .right-container {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.container form .form-container .left-container .user-input,
.container form .form-container .right-container .user-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.container form .form-container .left-container .user-input label,
.container form .form-container .right-container .user-input label {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.25rem;
  color: #4b5563;
}

.container form .form-container .left-container .user-input input,
.container form .form-container .right-container .user-input input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
}

.container form .form-container .left-container .user-input input:focus,
.container form .form-container .right-container .user-input input:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #FFB800;
}

.container form .save-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.container form .save-btn button {
  width: 250px;
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition-property: all;
  transition-duration: 300ms;
  background: linear-gradient(135deg, #77DD66, #D7F4D2);
}

.container form .save-btn button:hover {
  background: linear-gradient(135deg, #77DD66, #B8EAB0);
}