.login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }
  
  .login-right img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-right: 150px;
  }