<div class="side-panel-container">
  <div class="logo">
    <img src="/logo.png" alt="logo" />
  </div>



  <div class="upper-btn-container">
    <app-tab-button
      *ngFor="let button of tabButtons"
      [activeTab]="activeTab"
      [tabName]="button.tabName"
      [iconPath]="button.iconPath"
      (tabChange)="setActive($event)"
    ></app-tab-button>
  </div>


  <div class="greeting-container">
        <p class="greeting">{{ greeting + ", " + firstName + "!" }}</p>
        <div class="lower-btn-container">
            <button class="btn" (click)="setActive('help')">
                <img src="/help.png" alt="help icon" />
            </button>
            <button class="btn" (click)="setActive('profile')">
                <img src="/user.png" alt="profile icon" />
            </button>
            <button class="btn" (click)="logOut()">
                <img src="/logout.png" alt="logout icon" />
            </button>
        </div>
    </div>
</div>
