.side-panel-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 0.5rem;
    border: 1px solid #128c7e;
  }
  
  .logo {
    margin-top: 1rem;
    width: 225px;
    height: 150px;
  }
  
  .upper-btn-container {
    display: flex;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
}

.action-btn {
    background-color: lightgreen;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.greeting-container {
    text-align: right;
}

.greeting {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.lower-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.btn {
    cursor: pointer;
}

.btn img {
    height: 25px;
    margin: 0.75rem;
}