body {
  font-family: 'Nunito', sans-serif;
}

.login-left {
  width: 530px;
  margin-left: 50px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
  overflow: hidden;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: 2.5rem;
}

.heading p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.875rem;
  margin-bottom: 1.75rem;
}

.form {
  width: 100%;
}

.form form {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 350px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  margin: 10px;
}

.input-field:focus {
  outline: none;
  ring-width: 1px;
  ring-color: #128c7e;
}

.error-message {
  color: #ef4444;
  font-size: 0.875rem;
}

.signin-btn {
  width: 350px;
  background-image: linear-gradient(to right, #77DD66, #D7F4D2);
  color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 9px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 300ms;
  margin: 10px;
}

.signin-btn:hover {
  background-color: #f59e0b;
}