.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.container img {
  width: 2000px;
  height: calc(100vh - 150px);
  -webkit-mask-image: linear-gradient(to top, rgba(1.5, 1.5, 1.5, 1.5), transparent);
}